.hours-type, .recreation-time, .room {
    width: 235px;
    height: 45px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    margin: 0 21px 20px 0;
    padding: 0;
    font-size: 14px;
    color: #5f6368;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.teacher-name {
    width: 423px;
    height: 45px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    margin: 0 21px 20px 0;
    padding: 0;
    font-size: 14px;
    color: #5f6368;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 799px) {
    .hours-type, .recreation-time, .teacher-name, .room {
        width: 100%
    }
}