.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timetable {
  width: 800px;
  height: 615px;
  border-radius: 5px;
  filter: drop-shadow(-2px 0 5px rgba(0,0,0,0.1)) drop-shadow(2px 0px 5px rgba(0,0,0,0.1));
  background-color: #ffffff;
  border: 1px solid #f6f6f7;
  position: relative;
}

.main-content {
  box-sizing: border-box;
  padding: 20px 25px 20px 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.notification {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #ffdae7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notification__paragraph {
  font-size: 14px;
  color: #222222;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.notification__strong {
  font-weight: bold;
}

.console-button {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: content-box;
  border: 2px solid #3f4d63;
  position: absolute;
  right: 25px;
  bottom: 20px;
}

.location {
  width: 235px;
  height: 45px;
  border-radius: 5px;
  background-color: #e2e2e2;
  border: 1px solid #bdbdbd;
  margin: 0 21px 20px 0;
  padding: 0;
  font-size: 14px;
  color: #5f6368;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.color {
  width: 490px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px 0;
  justify-content: flex-end;
}

.color__paragraph {
  font-size: 14px;
  color: #5f6368;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.color__input {
  width: 20px;
  margin-left: 50px;
}

@media screen and (max-width: 799px) {
  .App {
    width: 100%;
  }
  .main-content {
    flex-direction: column;
    width: 100%;
  }
  .timetable {
    width: 100%;
    height: auto;
  }
  .location {
    width: 100%;
  }
  .color {
    width: 100%;
    justify-content: flex-start;
  }
  .notification {
    margin-bottom: 75px;
  }
}